staging/sap/jwater/assetrecognition.xsd

<xsd:schema targetNamespace="http://joburgwater.co.za/IMQS/AssetRecognition"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://joburgwater.co.za/IMQS/AssetRecognition">

    <xsd:element name="NewAssetsAndEquipment" type="RecordsType"/>

    <xsd:element name="NewAssetAndEquipment" type="RecordType"/>

    <xsd:complexType name="AssetDetailType">
        <xsd:annotation>
            <xsd:appinfo source="http://sap.com/xi/VersionID">3b8054e51eaa11e3adf80000005ff7c6</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="companyCode">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">c299c313e32511e2970ce337c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Company Code</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="assetClass">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">c299c314e32511e29a46e337c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Asset Class</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="description" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">c299c315e32511e2863ce337c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Asset Description</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="mainDescription" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">c299c316e32511e29532e337c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Asset Main Number Text</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="inventoryNumber" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">c299c317e32511e2a16be337c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Inventory Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="25"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="quantity">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">c299c318e32511e2c783e337c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Quantity</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="13"/>
                        <xsd:fractionDigits value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="uom">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">c299c319e32511e281c3e337c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Base Unit Of Measure</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="capitalisationDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">c299c31ae32511e2b562e337c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Asset Capitalisation Date</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="costCentre">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">c299c31be32511e2c977e337c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Cost Centre</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="responsibleCostCentre">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">c299e0d5e32511e28c47e337c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Cost Centre Responsible for Asset</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="accountingGroup" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ef347ca8e32611e2909de337c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Accounting Group</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="category" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ef347ca9e32611e2b8d3e337c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Asset Category</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="25"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="subCategory" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ef34bbb6e32611e2ba1ce337c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Asset Subcategory</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="groupType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ef34bbb7e32611e2a420e337c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Asset Group Type</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="componentType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d223cf30e3b611e2c8eddfeec0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Component Type</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="xLatitude" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d223cf31e3b611e2aa89dfeec0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>GIS Co-ordinate: X-Latitude</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="yLongitude" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d223cf32e3b611e2a179dfeec0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>GIS Co-ordinate: Y-Longitude</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="location" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">8bd1d2cce3b711e2ba40dfeec0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Location ERF Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="25"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="size" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d3634c1ce3c111e2bb5be814c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Descriptor Size</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:long">
                        <xsd:totalDigits value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="extent" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d3634c1de3c111e2cbaee814c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Extent</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="replacementValue" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">d3634c1ee3c111e2cc95e814c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Replacement Value</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="projectID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">059fd0d4156711e393ecd691c0a86e2e
                    </xsd:appinfo>
                    <xsd:documentation>Project ID</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="22"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="assetDepreciation" type="DepreciationDetailType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a74e2aa4e3c511e29928e814c0a86e19
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="equipment" type="EquipmentDetailType">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">1cafe485f91511e2ae73cc5dc0a86e34
                    </xsd:appinfo>
                    <xsd:documentation>Equipment Detail for the Asset</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DepreciationDetailType">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN">Asset Depreciation Definition</xsd:documentation>
            <xsd:appinfo source="http://sap.com/xi/VersionID">e751def51ea911e3c3c00000005ff7c6</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="depreciationArea">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">7c1aa163e31e11e2889cf963c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Real Depreciation Area</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:totalDigits value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="depreciationKey">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">7c1aa164e31e11e2b616f963c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Depreciation Key</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="0"/>
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="nrOfYears">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">7c1aa165e31e11e2c8c1f963c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Useful Life: Number Of Years</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:totalDigits value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="nrOfPeriods">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">7c1acea0e31e11e28a89f963c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Useful Life: Number Of Periods</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:totalDigits value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="startDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">7c1acea1e31e11e2c83ff963c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Depreciation Calculation Date (YYYY-MM-DD)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="amount">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">7c1acea2e31e11e2990cf963c0a86e19
                    </xsd:appinfo>
                    <xsd:documentation>Amount Posted</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="23"/>
                        <xsd:fractionDigits value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="scrapValue" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">e3225831156711e38c5fd691c0a86e2e
                    </xsd:appinfo>
                    <xsd:documentation>Asset Scrap Value</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="23"/>
                        <xsd:fractionDigits value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="accumulatedDepreciation" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">ea600b95f85811e296e8ed93c0a86e35
                    </xsd:appinfo>
                    <xsd:documentation>Proportional Accumulated Ordinary Depreciation</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="23"/>
                        <xsd:fractionDigits value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EquipmentDetailType">
        <xsd:annotation>
            <xsd:appinfo source="http://sap.com/xi/VersionID">d2a76e291ed011e38d180000005ff7c6</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="externalNumber" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">87fd5468fb7c11e2a724eda0c0a86e34
                    </xsd:appinfo>
                    <xsd:documentation>Equipment Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="equipmentCategory">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">87fd5469fb7c11e2a5d2eda0c0a86e34
                    </xsd:appinfo>
                    <xsd:documentation>Equipment Category</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="description">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">87fd546afb7c11e2c168eda0c0a86e34
                    </xsd:appinfo>
                    <xsd:documentation>Description of Technical Object</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="objectType">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">87fd546bfb7c11e28d2eeda0c0a86e34
                    </xsd:appinfo>
                    <xsd:documentation>Type Of Technical Object</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="startDate" type="xsd:date">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">87fd7d17fb7c11e2afd1eda0c0a86e34
                    </xsd:appinfo>
                    <xsd:documentation>Start-up Date of the Technical Object (YYYY-MM-DD)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="serialNumber" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f037e95a1ed011e3837cd546c0a86e2e
                    </xsd:appinfo>
                    <xsd:documentation>﻿Manufacturer&apos;s serial number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="componentID" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">87fd7d18fb7c11e2b18eeda0c0a86e34
                    </xsd:appinfo>
                    <xsd:documentation>Component ID</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="maintenancePlant">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">87fd7d19fb7c11e297d8eda0c0a86e34
                    </xsd:appinfo>
                    <xsd:documentation>Maintenance Plant</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="assetNumber" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">87fd7d1afb7c11e280f3eda0c0a86e34
                    </xsd:appinfo>
                    <xsd:documentation>Main Asset Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="costCentre">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">87fd7d1bfb7c11e2839eeda0c0a86e34
                    </xsd:appinfo>
                    <xsd:documentation>Cost Centre</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="workCentre">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">87fd7d1cfb7c11e28a0feda0c0a86e34
                    </xsd:appinfo>
                    <xsd:documentation>Object ID of the Work Centre</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="8"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="workCentrePlant" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">f037e95b1ed011e399e0d546c0a86e2e
                    </xsd:appinfo>
                    <xsd:documentation>Plant associated with the Work Centre</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="functionalLocationLabel">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">87fd7d1dfb7c11e2cca1eda0c0a86e34
                    </xsd:appinfo>
                    <xsd:documentation>Functional Location Label</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RecordsType">
        <xsd:annotation>
            <xsd:appinfo source="http://sap.com/xi/VersionID">44b64768f91611e2bd840000005ff7c6</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="transmissionID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a5333d2ce3ca11e2b1cae814c0a86e19
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:long">
                        <xsd:totalDigits value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="assets" type="AssetDetailType" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">a5337879e3ca11e2acc7e814c0a86e19
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RecordType">
        <xsd:annotation>
            <xsd:appinfo source="http://sap.com/xi/VersionID">288f8b29f91611e2955f0000005ff7c6</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="transmissionID">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3b6612a7f91611e2ca63cc5dc0a86e34
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:long">
                        <xsd:totalDigits value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="asset" type="AssetDetailType">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3b6612a8f91611e2a6ebcc5dc0a86e34
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>