staging/sap/projects/transactions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
			jxb:version="2.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            targetNamespace="http://www.imqs.co.za/projects"
            xmlns="http://www.imqs.co.za/projects"
            elementFormDefault="unqualified"
            attributeFormDefault="unqualified"
            version="1.0">
			
    <xsd:element name="CreateTransactions">
        <xsd:annotation>
            <xsd:documentation>IMQS - Capital Projects Transactions</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Transactions" type="Transaction" minOccurs="0" maxOccurs="100000"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="Transaction">
        <xsd:annotation>
            <xsd:documentation>Invoice</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Identity" minOccurs="1" type="TransactionIdentity"/>
            <xsd:element name="LineItems" type="LineItem" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LineItem">
        <xsd:annotation>
            <xsd:documentation>Line Entry for an Invoice</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>

            <xsd:element name="Identity" minOccurs="1" type="TransactionIdentity"/>

            <xsd:element id="GJAHR" name="FiscalYear" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Fiscal Year</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="(\d{4})"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="VRGNG" name="BusinessTransaction" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>CO Business Transaction</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="BLDAT" name="DocumentDate" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Document Date</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:date">
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="BUDAT" name="PostingDate" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Posting Date. Format YYYY-MM-DD</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:date">
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="USNAM" name="UserName" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>User Name</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="BLTXT" name="DocumentHeaderText" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Document Header Text</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="REFBN" name="ReferenceDocumentNumber" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Reference Document Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="BLART" name="FIReferenceDocumentType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Document type of FI reference document</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="BEKNZ" name="DbCtIndicator" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Debit/credit indicator</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="BUZEI" name="PostingRow" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Posting row</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="PERIO" name="Period" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Period</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="SGTXT" name="SegmentText" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Segment text</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PurchasingDocument" minOccurs="0" type="PurchasingDocument"/>

            <xsd:element id="OBJNR" name="ObjectNumber" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Object number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="22"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="OBJ_TXT" name="COObjectName" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>CO Object Name</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element name="Plant" id="WERKS" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="WKGBTR" name="Amount" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>IMQS Amount Excluding VAT, In SAP this is Total Value in Controlling Area Currency</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="17"/>
                        <xsd:fractionDigits value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="AUFNR" name="OrderNumber" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>PM Order Number. Assists with grouping together costs - event collector - e.g. a meter installation. One work order per capital item(e.g. meter installation) </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="12"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="ZZXBLNR" name="InvoiceNumber" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Only used when paying a vendor - supplier's invoice number. No invoice number for goods issued, journals, labour. Only when paying a vendor.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="16"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="ZZSTTXT" name="ObjectStatus" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Object Status, going into partial capitalisation. This status will determine whether the transaction is done. Will be a concatenated string. Can only use invoices with TECO status ->this status only matters when Order Number is populated. Only look at first 4 charters. Note: SAP can unfortunately not only send invoices to type TECO, as IMQS will not know if more invoices are coming for a transaction group.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="ZZERFMG" name="Quantity" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The amount of material types issued to PM Order or received onto the project E.g. 5</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="13"/>
                        <xsd:fractionDigits value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="ZZERFME" name="UnitOfMeasure" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Unit Of Measure relates to quantity . E.g. m(meters)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="ZZMATNR" name="MaterialNumber" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Material Number- SAP code for material description</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="18"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="ZZMAKTX" name="MaterialDescription" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The description of the material that was issued/received against the project - e.g. Meter: 25mm diameter</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="ZZTXT20_ML" name="OffSettingAccount" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>GL off setting account description. E.g. 'Capital Spares' – indicates what type of stock it is. The offsetting account description is a 50 character test description of the account that received the credit when the project was debited - free text field.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>


            <xsd:element name="CostElement" minOccurs="0" type="Cost"/>

            <xsd:element name="Vendor" minOccurs="0" type="Vendor"/>

        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Vendor">
        <xsd:sequence>

            <xsd:element id="ZZLIFNR" name="AccountNumber" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Account Number of Vendor or Creditor</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="ZZNAME1" name="Name" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Name of vendor</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Cost">
        <xsd:sequence>

            <xsd:element id="KSTAR" name="CostElement" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Cost Element</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="CEL_KTXT" name="CostElementName" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Cost Element Name</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PurchasingDocument">
        <xsd:sequence>

            <xsd:element id="EBELN" name="Number" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Purchasing Document Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="EBELP" name="ItemNumber" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Item Number of Purchasing Document</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="EBTXT" name="PDText" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Purchase Order Text From the Purchasing Document</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="40"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TransactionIdentity">
        <xsd:annotation>
            <xsd:documentation>Invoice</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>

            <xsd:element id="BELNR" name="DocumentNumber" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Document Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="PSPID" name="ProjectDefinition" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Project Definition</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="24"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element id="POSID" name="WBSElement" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Work Breakdown Structure Element (WBS Element)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="24"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

        </xsd:sequence>
    </xsd:complexType>



</xsd:schema>
